---
minimum_pre_commit_version: 2.4.0
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict  # Check for files that contain merge conflict strings.
      - id: trailing-whitespace   # Trims trailing whitespace.
        args: [--markdown-linebreak-ext=md]
      - id: mixed-line-ending     # Replaces or checks mixed line ending.
        args: [--fix=lf]
      - id: end-of-file-fixer     # Makes sure files end in a newline and only a newline.
      - id: check-merge-conflict  # Check for files that contain merge conflict strings.
      - id: check-ast             # Simply check whether files parse as valid python.

  # ----- Local Hooks --------------------------------------------------------------------------->
  # <---- Local Hooks ----------------------------------------------------------------------------

  # ----- Formatting ---------------------------------------------------------------------------->
  - repo: https://github.com/asottile/reorder_python_imports
    rev: v3.9.0
    hooks:
      - id: reorder-python-imports
        args: [
          --py39-plus,
          --application-directories=.:src,
          --add-import=from __future__ import annotations
        ]
        exclude: (?x)^(
          setup
          |
          noxfile
          |
          demo/.*
          |
          .pre-commit-hooks/.*
          |
          src/ptscripts/version
          )\.py$

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
        name: Rewrite Code to be Py3.9+
        args: [
          --py39-plus
        ]
        files: ^((setup|noxfile)|(src|tests)/.*)\.py$
        exclude: (?x)^(
            demo/.*
            |
            .pre-commit-hooks/.*
            |
            src/ptscripts/version
          )\.py

  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
        args: [-l 100]
        exclude: src/ptscripts/version.py

  - repo: https://github.com/asottile/blacken-docs
    rev: 1.13.0
    hooks:
      - id: blacken-docs
        args: [--skip-errors]
        files: ^(docs/.*\.rst|src/ptscripts/.*\.py)$
        additional_dependencies:
          - black==23.1.0.
  # <---- Formatting -----------------------------------------------------------------------------

  # ----- Security ------------------------------------------------------------------------------>
  - repo: https://github.com/PyCQA/bandit
    rev: "1.7.4"
    hooks:
      - id: bandit
        alias: bandit-salt
        name: Run bandit against the code base
        args: [--silent, -lll, --skip, B701]
        files: ^(?!tests/).*\.py$
        exclude: src/ptscripts/version.py
  - repo: https://github.com/PyCQA/bandit
    rev: "1.7.4"
    hooks:
      - id: bandit
        alias: bandit-tests
        name: Run bandit against the test suite
        args: [--silent, -lll, --skip, B701]
        files: ^tests/.*
  # <---- Security -------------------------------------------------------------------------------

  # ----- Code Analysis ------------------------------------------------------------------------->
  - repo: https://github.com/pycqa/flake8
    rev: '6.0.0'
    hooks:
      - id: flake8
        exclude: ^(demo/.*|src/ptscripts/version\.py|\.pre-commit-hooks/.*\.py)$
        additional_dependencies:
        - flake8-mypy-fork
        - flake8-docstrings
        - flake8-typing-imports

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.0.0
    hooks:
      - id: mypy
        name: Run mypy against the code base
        files: ^(src/|tests/).*\.py$
        args: []
        additional_dependencies:
          - types-attrs
          - types-setuptools
          - types-requests
  # <---- Code Analysis --------------------------------------------------------------------------
